
<section>
    <div class="table_responsive">
        
        <h1 class="heading">Les <span>Utilisateurs</span> </h1>
		<p> <a routerLink="/ajouter-utilisateur">Ajouter utilisateur <i class="fas fa-add"></i></a></p>
        <table>
        
    
    <table align='center' border='2' width='50%'>
          <thead>
        <tr>
        <th>Pseudo</th>
        <th>Date de creation</th>
        <th>Actions</th>
         </thead>
     
        
       
           <tr>
            <td>admin</td> 
            <td>18/08/2024</td> 
           
          
            
            <td>
             
                <span class='action_btn'>
            <a routerLink="/modifier-utilisateur" style='text-decoration: none'>Modifier</a>
            </span>
            </td>
        </tr>

        <tr>
            <td>user2</td> 
            <td>13/08/2024</td> 
            
            <td>
                <span class='action_btn'>
                    <a routerLink="/modifier-utilisateur" style='text-decoration: none'>Modifier</a>
            </span>
            </td>
        </tr>
        
    </table>
            
            
    
        
        
    
   
       
     

