<body>
<section class="tous">
	
	<h1 class="heading">Tableau <span>de bord</span> </h1>
		
		<div class="tablebord">
		
		<div class="tables" id="total1">
		
			
			<h3>Nombre d'élève</h3>
		
			
            <h2>128 100</h2>
		
		</div>
			
		<div class="tables" id="total2">
            <h3>Nombre de professeur</h3>
		
			
            <h2>128 100</h2>
		
		
		</div>
		
			
		<div class="tables" id="total3">
            <h3>Nombre d'utilisateur</h3>
		
            <h2>128 100</h2>
		
		
		
		</div>
			
			
		<div class="tables" id="total4">
            <h3>Eleve par genre</h3>
		
             <i class="	fas fa-chart-pie"></i>
		
		
		
		</div>
			
			
			</div>
		
	
	
	</section>
</body>