<!-- A propos des articles ... section starts -->
	

<section>

   
    <div class="table_responsive">
       
        <h1 class="heading">Les <span>professeurs</span> </h1>
		<p> <a routerLink="/ajouter-professeur">Ajouter Professeur <i class="fas fa-add"></i></a></p>
        <table>
        
    
    <table align='center' border='2' width='50%'>
          <thead>
        <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Matière</th>
        <th>Vacant</th>
        <th>Age</th>
        <th>Telephone</th>
        <th>Ville</th>
        <th>Actions</th>
         </thead>
    
        
       
           <tr>
            <td>NDIAYE</td> 
            <td>Gilbert</td> 
            <td>Mathématique</td>
            <td>oui</td> 
            <td>45</td> 
            <td>0123456790</td> 
            <td>Bouaké</td>
           
          
            
            <td>
             <span class='action_btn'>
                <a href=# style='text-decoration: none' onclick="return confirmation()">Supprimer</a>
            
            
                <a routerLink="/modifier-professeur" style='text-decoration: none'>Modifier</a>
            </span>
            </td>
        </tr>

        <tr>
            <td>AGBO</td> 
            <td>Alphonse</td> 
            <td>Physique-chimie</td>
            <td>non</td> 
            <td>55</td> 
            <td>0134567890</td> 
            <td>Abidjan</td>
            
            <td>
             <span class='action_btn'>
            <a href=# style='text-decoration: none' onclick="return confirmation()">Supprimer</a>
             

            
            <a routerLink="/modifier-professeur" style='text-decoration: none'>Modifier</a>

            </span>
            </td>
        </tr>
        
    </table>
            
            
    
        
        
    
    
       
    

